@font-face {
    font-family: 'nasalization-rg';
    src: url('../fonts/nasalization-rg.ttf') format('truetype'),url('../fonts/nasalization-rg-webfont.woff') format('woff'), url('../fonts/nasalization-rg-webfont.eot') format('embedded-opentype'), url('../fonts/nasaliza-webfont.svg') format('svg');
}


* {
    padding: 0px;
    margin: 0px;
}


#menu {
    height: 45px;
    width: 100%;
    font-family: nasalization-rg;
    text-align: center;
    font-size: 12px;
    background-color: #2E4E9D;
    font-size: 110%;
 }

#nav {
    display: inline-block;
    height: 45px;
    list-style: none;
       padding-left: 6px;
    width: 100%;
}

    #nav li {
        float: left;
        background-repeat: no-repeat;
        background-position: right;
        z-index: 999999999999;
        width: 200px;
    }

        #nav li a:hover {
            color: #62BFB3;
        }

        #nav li a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #FFFFFF;
        }


    /* Submenu */
    #nav ul.submenu {
        position: absolute;
        list-style: none;
        background-color: #2E4E9D;
        z-index: 999999999999;
        margin-top: -1px;
    }


        #nav ul.submenu li {
            float: none;
            background-image: none;
            width: 300px;
        }

            #nav ul.submenu li a:hover {
                color: white;
                background-color: #62BFB3;
            }

            #nav ul.submenu li a:active {
                color: white;
                background-color: #62BFB3;
            }

    /* Subsubmenu */
    #nav ul.subsubmenu {
        position: absolute;
        list-style: none;
        background-color: #1A95A4;
        margin-left: 250px;
        margin-top: -47px;
        color: #333333;
    }

        #nav ul.subsubmenu li a:hover {
            float: none;
            background-color: #62BFB3;
            color: white;
        }
