<?xml version="1.0"?>

<appSettings >
	<add key="Modulo" value="almacen"/>
	<add key="ModuloMto" value="mto"/>
	<add key="ReportService" value="http://172.30.92.47/ReportServer"/>
	<add key="UrlInformes" value="/ReportProject/"/>
	<add key="UrlInformesNomina" value="/Infos/Informes/Formas/"/>
	<add key="UrlFormatos" value="/Infos/Formatos/Almacen/"/>
	<add key="Usuario" value="administrador"/>
	<add key="Clave" value="ADMSajdEjjd9"/>
	<add key="Dominio" value="ELROBLE"/>
	<add key="SeguridadInfos.security" value="http://app.infos.com/seguridad/security.asmx"/>
</appSettings>
