<?xml version="1.0"?>
<appSettings >
	<add key="Modulo" value="agro" />
	<add key="NovedadCosecha" value="101" />
	<add key="RegistroBascula" value="TLC" />
	<add key="Usuario" value="Administrador" />
	<add key="Clave" value="Control2013" />
	<add key="Dominio" value="ciadavila" />
	<add key="SeguridadInfos.security" value="http://app.infos.com/Security/security.asmx" />
</appSettings>
