<?xml version="1.0"?>

<appSettings >
  <add key="Modulo" value="Admon"/>
  <add key="ModuloTarima" value="tarima"/>
  <add key="ModuloBascula" value="basc"/>
  <add key="ReportService" value="http://pa-pe-db/ReportServer"/>
  <add key="SeguridadInfos.security" value="http://app.infos.com/SeguridadDavila/security.asmx"/>
  <add key="UrlFormatosCarnet" value="/Infos/Formatos/RecursosHumanos/"/>
</appSettings>
