<?xml version="1.0"?>

 <appSettings>
    <add key="Modulo" value="nomi"/>
    <add key="UrlFoto" value="\\192.168.2.11\Proyecto Infos 2.0\Carnet\Fotos\"/>
    <add key="RutaFoto" value="http://localhost/nomiinfos/fotos/"/>
    <add key="UrlInformes" value="/Infos/Informes/Nomina/"/>
    <add key="ReportService" value="http://ELROBLE-DB/ReportServer"/>
    <add key="Usuario" value="Administrador"/>
    <add key="Clave" value="ADMSajdEjjd9"/>
    <add key="Dominio" value="ELROBLE"/>
    <add key="SeguridadInfos.security" value="http://app.infos.com/Security/security.asmx"/>
    <add key="TipoTransaccionNomina" value="LQN"/>
    <add key="TipoTransaccionPrima" value="PRI"/>
    <add key="TipoTransaccionCesa" value="CES"/>
    <add key="TipoTransaccionContrato" value="LQC"/>
  </appSettings>