<?xml version="1.0"?>

<appSettings>
 <add key="Modulo" value="contabilidad"/>
    <add key="Usuario" value="Administrador"/>
	<add key="ReportService" value="localhost/ReportServer"/>
	<add key="UrlInformes" value="/Infos/Informes/Contabilidad/"/>
    <add key="Clave" value="Control2013"/>
    <add key="Dominio" value="CIDAVILA"/>
  <add key="seguridad.security" value="http://app.infos.com/Security/security.asmx"/>
</appSettings>